.container{
  position: relative;
}
.notification {
  width: 25%;
  z-index: 100;
  position: absolute;
  left:72%;
  top:7px;
  animation: alert 0.3s ease-out;
}

@keyframes alert {
  0%{
    opacity: 0;
    transform: translateX(10%);
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}