.achievement {
    margin-left: 2%;
    border-top: 1px solid rgb(228 228 231);
    height:100%;
    border-radius: 10px;
    width: 100%;
}

.achievement h1{
    margin-top: 1%;
    /* margin-left: 2rem; */
    font-size: 1.4rem;
    font-weight: 500;
}

.achievement h2{
    margin-left: 13%;
    font-size: 1rem;
    margin-top: 5%;
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 0.25;
    width: 78%;
    font-weight: 500;

}

.achievement h3{
    margin-left: 13%;
    font-size: 0.82rem;
    font-weight: 500;
    background: #121FCF;
   background: linear-gradient(to right, #121FCF 14%, #CF1512 66%);
   -webkit-background-clip: text; 
   -webkit-text-fill-color: transparent;


}

.achievement h4{
    text-align: left;
    margin-right: 2%;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 3px;
    background: #02CFCF;
    background: linear-gradient(to right, #02CFCF 0%, #BA34CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.button {
    margin-left: 2rem;
    margin-top: 1%;
}

.time {
    font-size: 0.895rem;
    font-weight: 500;
    color: #73777B;
    text-align: right;
    margin-right: 5%;
    margin-top: 4%;
}

.commentSection{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    height: 40px;
    margin-bottom: 2%;
}

.commentSection img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: white;
    margin-left: 5%;
    margin-top: 4px;
}

.commentDiv{
    margin-left: 6.5rem;
    margin-bottom: 4%;
}

.commentDiv span{
    color: #E9C22B;
    text-align: right;
    font-size: 1.1rem;
    cursor: pointer;
}


.profile{
    margin-top: 5%;
    margin-left: 10%;
    width: 15%;
}

.title{
    display: inline-block;
}

.title img{
    display: inline;
}
.title h1{
    display: inline;
}

.createComment{
    margin-top: 1%;
    margin-left: 7.7rem;
    margin-bottom: 4%;
    width: 30%;
}

.createComment span{
    color: #E9C22B;
    text-align: right;
    font-size: 1.2rem;
    cursor: pointer;
}
