.navbar {

    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.items {

    display: flex;
    justify-content: space-between;
}

.items li {

  padding-top: 4px;
  margin-right: 4rem;
  font-size: 1.1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.items li:first-child {
    padding-top: 0;
    font-size: 1.5rem;
    margin-left: 4rem;
}

.items li:hover{
    color: white;
    opacity: 1;
    animation: navList 0.4s ease-out;
}
.wallet {

    margin-right: 3rem;
}

@keyframes navList {
    0% {
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}